<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gigih Internal </title>
  </head>
  <body>

    <div class="user">
      <h1>User Basic Information</h1>
      <ul>
        <li> User Name     : <%= active_user["user_name"] %> </li>
        <li> Date of Birth : <%= active_user["user_bio"] %> </li>
      </ul>

    </div>
  </body>
</html>
