<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gigih Twitt Login</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="overlay">
        <form class="logon" action="/login" method="post">
          <label for="user_name">Please input Your Email</label>
          <br>
          <input type="text" name="user_email" placeholder="Please input your email" value="" required>
          <br>
          <label for="user_password"></label>
          <br>
          <input type="password" name="user_password" value="" required>
          <br>
          <br>
          <br>
          <button type="submit" name="bt_login">Log me in</button>
          <br>
          <br>
          <a href="/login/ForgetPassword">Forgot Password?</a>
          <a href="/signup">Sign Up</a>
        </form>
    </div>
  </body>
</html>
