.logon {
  width: 20%;
  height: 40%;
  position: fixed;
  top: 25%;
  left: 5%;
  padding-top: 15px;
  z-index: 10;
}

.logon input, label, .signup input, label {
  width: 80%;
  margin-left: 10%;
}

.logon button {
  margin-left:35%;
}
.logon a{
  padding-left: 5%;
  padding-right: 5%;
}

.overlay{
  width: 70%;
  height: 100%;
}

.signup{
  width: 45%;
}
